* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0;
}

a {
	border-bottom: 2px solid transparent;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
}

a:hover {
	border-bottom: 2px solid white;
}

main {
	width: 850px;
	margin: 35px auto;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

h1 {
	text-transform: uppercase;
	font-family: raleway;
	color: #0D2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px
	margin: 0;
}

h2 {
	text-transform: uppercase;
	font-family: raleway;
	color: #0D2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: droid serif;
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 40px 8px 0;

}

button {
	text-transform: uppercase;
	font-family: 'Audiowide', cursive;
	font-size: 14px;
	
    width: 150px;    
    position: inherit;
    border: 5px solid #00A6B3; 
    border-radius: 4px;
}
.copyright {
	font-family: Raleway;
	float: left;
}

.message {
	font-family: Raleway;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;

}

.game-controls {
	color: #FFFFFF;
	height: 60px;
	margin: 20px 10% 0;
}

.game-button {
	
	display: flex;
	justify-content: center;
	float: left;
	width: 50%;
	height: 100%;	
}

.score-board {
	display: flex;
	justify-content: center;	
	text-transform: uppercase;
	font-family: 'Audiowide', cursive;
	font-size: 36px;
	font-weight: 700;
	color: #0D2c40;	
	float: right;
	width: 50%;
	height: 100%;
}

